    <nav class="navbar navbar-expand-lg rounded-0">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">7DW</a>
        </div>
        <ul class="nav navbar-nav">
          {{!-- <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li> --}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="add-btn" href="/add-hero"><span class="glyphicon glyphicon-plus-sign"></span> Add Hero</a></li>
          <li><a class="add-btn" href="/add-type"><span class="glyphicon glyphicon-plus-sign"></span> Add Type</a></li>
        </ul>
      </div>
    </nav>
